# ignore network files
SiouxFalls/
__pycache__/
# ignore excel files
# ignore DS_Store
.DS_Store
# ignore pickle files
*.pickle
# ignore python cache files
*.pyc
# ignore saved runs
saved/
# ignore text files - outputs of TAP solutions
*.txt
# ignore bin files
*.bin
