
__pycache__/
# ignore DS_Store
.DS_Store
# ignore pickle files
*.pickle
# ignore python cache files
*.pyc
# ignore saved runs
# ignore text files - outputs of TAP solutions
*.txt
*.bin
saved/
tap-b_wu/
TransportationNetworks/
